.audit-log-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-family:'Times New Roman', Times, serif;
        color: rgba(226, 17, 34, 0.801);
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.log-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.log-table th, .log-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.log-table th {
    background-color: #4cafa7;
    color: white;
}

.log-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.log-table tr:hover {
    background-color: #ddd;
}

.log-table td {
    font-size: 14px;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


.btn {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: rgb(128, 0, 122)
}


