

.file-upload-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.container button
{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: teal;
    color: white;
    margin-bottom: 5px;
}
  

.container div {
    margin-top: 10px;
    font-size: 14px;
    color: green;
    text-align: center;
}

.upload-error{
    color: red;
}

h1{
    color: crimson;
}

h4{
    margin-right: 10px;
}

.parent-container{
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    margin-bottom: 20px;
}

